{% extends "bootstrap-starter.html" %}

{% block title %}Cirrus group{% endblock %}

{% block main %}
<div class="span12">
    <h2>Here is your this weeks stuff</h2>
</div>
<table>
    <tr>
        <th class="span2"></th>
        <th class="span4">Yesterday</th>
        <th class="span4">Today</th>
        <th class="span4">Tomorrow</th>
    </tr>
    <tr>
        <th class="span2">8am</th>
        <td class="span4"></td>
        <td class="span4">waking up</td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">9am</th>
        <td class="span4">Wake up</td>
        <td class="span4">breakfast</td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">10am</th>
        <td class="span4">breakfast</td>
        <td class="span4"></td>
        <td class="startEndItem">wake up</td>
    </tr>
    <tr>
        <th class="span2">11am</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
        <tr>
        <th class="span2">Midday</th>
        <td class="startItem">lunch with that one asshole... fuck tits </td>
        <td class="startEndItem">lunch</td>
        <td class="startItem">brunch</td>
    </tr>
    <tr>
        <th class="span2">1pm</th>
        <td class="continue"></td>
        <td class="span4"></td>
        <td class="endItem"></td>
    </tr>
    <tr>
        <th class="span2">2pm</th>
        <td class="endItem"> </td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">3pm</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">4pm</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">5pm</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">6pm</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">7pm</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">8pm</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>
    <tr>
        <th class="span2">9pm</th>
        <td class="span4"></td>
        <td class="span4"></td>
        <td class="span4"></td>
    </tr>

</table>
    <br/>
{% endblock %}