{% extends "bootstrap-starter.html" %}

{% block title %}Cirrus group{% endblock %}

{% block header %}
<div class="hero-unit">
    <h1>DeanBook <img src="../static/img/wiseWords.jpg" style="vertical-align: top" /></h1>
    <p>
       Our software aims to enable you to design you own efficient workflow by leveraging the cloud.
    </p>
</div>
    
{% endblock %}

{% block main %}
    {% if is_testenv%}
    <div class="alert">
        <strong>ALERT</strong>: you are awesome
    </div>
{% endif %}
    <div class="row">
        <div class="span9">
            <h2>What do we do?</h2>
            <p>
                Our unique cloud based service aims to replace the standard and often expensive to maintain computer systems in
                any workplace by using the scalable google cloud framework.
            </p>
        </div>
    <div class="row">
            <h3>Why us? </h3>
            <p>
            Basically because we are amazing. <span class="icon-star"></span>
            </p>

        </div>
        <div class="span6">
            <h3>Yet to come  </h3>
            <p>
               Most of our stuff
            </p>
        </div>        
    </div>
    <hr/>
    <div class="row">
        <div class="span6">
            <h2>What does it include?</h2>
            <div class="row">
            <div class="span3">
                <ul> 
                    <li class="icon-ok">Not alot...</li>
                </ul>
            </div>
            <div class="span3">
                <ul></ul>

            </div>
            </div>
        </div>
        <div class="span6">
            <h2> What does it <em>not</em> include?</h2>
            <ul>
                <li class="icon-remove">Most everything...</li>
            </ul>
            <h2>What does it assume?</h3>
            <ul>
                <li class="icon-star">That you want to use some awesome amazing stuff</li>
            </ul>
        </div>
    </div>
    <hr/>
    {% if prefs %}
    <h2>Welcome, {{ prefs.nickname }}</h2>
    <hr/>
    {% endif %}

    <div class="row">
        <div class="span3">
    <h2>How do I get started?</h2> 
    <p>Contact us noww!!! </p>
            </div>

        <div class="span9">
            <h2>How can I contribute?</h2>
            <p>If you have ideas for changes to the project, join me on Github and file a ticket, or send over a pull request if you have working code!</p>            
        </div>
    </div>
    <hr/>
{% endblock %}
